.mat-list-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  .done{
    font-size: 80%;
  }
  .todo{
    font-size: 80%;
  }
  .text-crossed-out{
    text-decoration: line-through;
  }
  .label{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23rem;   
    cursor: pointer;
  }
}

