.mat-list-item{
  .done{
    font-size: 80%;
  }
  .todo{
    font-size: 80%;
  }
  .text-crossed-out{
    text-decoration: line-through;
  }
  .label{ 
    width: 23rem;   
    height: 5rem;
    cursor: pointer;
  }
}

