<div class="container">
  <mat-card class="card">
    <h1> Todo List</h1>
    <mat-list>
      <mat-list-item *ngFor="let task of tasks">
        <div class="label" (click)="onClickTodo(task)">
          <div [ngClass]="{'text-crossed-out':task.done}"> {{task.title}} </div>
          <ng-template [ngIf]="task.done" [ngIfElse]="loggedOut">
            <div class="done"> Done </div>
          </ng-template>
          <ng-template #loggedOut>
            <div class="todo"> Todo </div>
          </ng-template>
        </div>
          <mat-checkbox (change)="onChange($event,task)" [checked]="task.done"></mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>