<div class="container">
  <mat-card class="card">
    <mat-card-title>
      {{ (task$ | async).title }}
    </mat-card-title>
    <mat-card-subtitle>
      <ng-template [ngIf]="(task$|async)?.done" [ngIfElse]="loggedOut">
        <span class="done"> Done </span>
      </ng-template>
      <ng-template #loggedOut>
        <span class="todo"> Todo </span>
      </ng-template>
    </mat-card-subtitle>
    <mat-card-content>
      {{ (task$ | async).description }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="goToList()"> Return </button>
    </mat-card-actions>
  </mat-card>
</div>