/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    height: 95vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.card {
    width: 25rem;
    height: 30rem;
    box-shadow: 0 2px 30px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)! important;
}

.done{
  color:green;
}
.todo{
  color:#FFA500;
}
.text-crossed-out{
  text-decoration: line-through;
}